// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(large);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(large);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;

    a {
      color: $white;
      font-weight: 600;
      font-size: rem-calc(15);
    }
  }

  .menu .active > a { background-color: $medium-gray; }

}

.title-bar-title {
  a {
    font-size: 1rem;
    color: $medium-gray;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {

  .menu .is-active > a {
    background-color: lighten($primary-color, 5%);
  }
}

// Tablet and desktop menu

.top-bar {

  .top-bar-title a {
    font-size: 1rem;
    color: $medium-gray;
    padding-left: 1rem;
    line-height: 1.8;
  }

  .menu a {
    color: $light-gray;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;

    &:hover:not(.button) {
      background-color: $dark-gray;
    }
  }

  .menu .active > a { background-color: $medium-gray; }

  .menu>li:not(.menu-text)>a { padding: 1rem; }
  .menu li:not(:last-child) { border-right: 1px solid $dark-gray; }

  .dropdown.menu .submenu { border: 0; }
  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; }
}

.site-navigation {
  @include breakpoint(medium down) {
    padding: 0; // prevents container visibility on medium and down screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

// Sticky
.site-header {
  position: relative;
  z-index: 10;

  &.sticky.is-stuck {
    z-index: 10;
  }

  &.sticky {
    transition: box-shadow .3s;

    // WP menu adjust
    body.admin-bar &.is-stuck {
      top: #{$admin-bar-mobile-height} !important;
      @include breakpoint(adminbar) {
        top: #{$admin-bar-height} !important;
      }
    }

    &.is-at-top.is-stuck {
      box-shadow: 0 0 rem-calc(10) rgba($black,.2);
    }
  }
}
